# Dependencies
node_modules/

# Build outputs
dist/
build/

# Minified files
*.min.css
*.min.js

# Shopify
.shopify/
.shopifyignore
theme.lock

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Backup files
*.backup
*.bak

# Zip files
*.zip

